<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhr.test">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PieChartActivity" />
        <activity android:name=".VBarChartActivity" />
        <activity android:name=".HBarChartActivity" />
        <activity android:name=".LineChartActivity" />
        <activity android:name=".RadarChartActivity" />
        <activity android:name=".ScatterChartActivity" />

        <receiver android:name=".UsbBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <!--                这个必须要加才能判断u盘状态-->
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <!--                要设置自启权限，否则自启的广播监听不会生效-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <!--                这个必须要加才能监控到软件包信息-->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>